body {
    background-color: rgb(51, 51, 51);
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

article + article {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid  white;;
}